.tete{
background-color:rgb(120,120,120);
height:45px;
	}
.entete{
color:white;
font-size:15px;
margin:auto;
margin-top:10px;
margin-left:150px;
	}
.ajout{
margin:auto;
margin-top:10px;
margin-left:0px;
	}
.white{
height:40px;
background-color:rgb(243,236,199);
}
.formulaire{
height:400px;
background-color:rgb(255,240,245);
}
.bouton{
height:30px;
background-color:rgb(218,218,218);
}
.vide{
height:20px;
background-color:rgb(255,240,245);
}
.pied{
height:37px;
background-color:rgb(21,21,21);
}
.foot{
color:white;
font-size:10px;
margin:auto;
margin-top:10px;
margin-left:150px;
	}

		

						